services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    environment:
      - DEFAULT_HOST=charlieavery.site
    networks:
      - web
   
  sveltekit:
    restart: always
    build: .
    command: node --env-file=.env build
    expose:
      - 3000
    volumes:
      - ./src/:/app/src/
    env_file:
      - .env
    depends_on:
      - nginx-proxy
    networks:
      - web

  nginx:
    build: ./nginx
    expose: 
      - 5174
    environment:
      - VIRTUAL_HOST=charlieavery.site
    depends_on:
      - sveltekit
      - nginx-proxy
    networks:
      - web

networks:
  web:
    name: web
    driver: bridge